.subMenus_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .subMenus h1 {
    width: 100%;
  }

  .subMenus {
    border-radius: 10px;
    border: 0.5px solid var(--grayscale-30, #b3b3b3);
    background: var(--grayscale-0, #fff);
    width: 91%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  
  .subMenusHidden {
    display: none;
  }
  
  .subMenus .box:first-child {
    width: 80%;
  }
  .subMenus .box:nth-child(2) {
    width: 20%;
  }

  .subMenus_wrap .edit_wrap {
    width: 91%;
    margin-left: auto;
  }
  