.block_container {
  position: relative;
  width: 100%;
  background: #f3f3f3;
  outline: 1px dashed #333;
}

.block_correction_btn {
  position: absolute;
  top: 32px;
  right: 2%;
  display: none;
  justify-content: space-evenly;
  width: 168px;
  height: 40px;
  border-radius: 42px;
  background-color: #565656;
  z-index: 10000;
}

.wrap_btn {
  position: relative;
}

.wrap_btn {
  position: relative;
}

.btn_add_block {
  display: none;
  position: absolute;
  left: 50%;
  margin: auto;
  width: 168px;
  height: 40px;
  background-color: #565656;
  border-radius: 42px;
  color: #fff;
  font-size: 15px;
  z-index: 10;
  top: 0;
  transform: translate(-50%, -50%);
}

.wrap_edit_btn {
  position: absolute;
  top: 10px;
  right: 5%;
  display: none;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  border-radius: 42px;
  background-color: #565656;
}

.btn_edit_function {
  font-size: 25px;
  color: #fff;
}

.wrap_design_select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.icon_design_select {
  width: 20px;
}

.txt_design_select {
  font-size: 20px;
  font-weight: 400;
  color: #989898;
}

.show_add_btn {
  display: block;
}

.show_edit_btn {
  display: flex;
}

.block_function_btn {
  color: #fff;
}

.block_function_btn span {
  cursor: pointer;
}

/* 블록 공통 css */
.module_wrap {
  max-width: 1240px;
  padding: 0 10px;
  margin: auto;
}
.module_container {
  transition: padding 0.4s;
  padding: 20px 0;
}
.imgHover {
  cursor: pointer;
}
.imgHover:hover {
  outline: 2px #3a7fd0 solid;
  z-index: 500;
}
.imgHover:hover img {
  filter: brightness(70%);
}

/* 이미지 블록 css */
.module_imageBox {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.module_imageBox img {
  width: 100%;
  height: 100%;
}

/* 구분선 블록 css */
.module_container_line {
  transition: padding 0.4s;
  padding: 50px 0;
}

/* 목록 블록 css */
.module_container_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  transition: padding 0.4s;
  padding: 20px 0;
}
.module_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.module_list_item div {
  text-align: center;
}
.module_circle {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
}
.module_rectangle {
  width: 350px;
  height: 200px;
  border: 1px solid #c0c0c0;
}
.module_square {
  width: 300px;
  height: 300px;
  border: 1px solid #c0c0c0;
}
.module_wideRectangle {
  width: 500px;
  height: 200px;
  border: 1px solid #c0c0c0;
}
.module_wrap_list img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* 텍스트 블록 css */
.module_text_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.module_text_line {
  max-width: 1280px;
  padding: 5px;
}

/* 레이아웃 블록 css */
.module_layout_item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  min-height: 200px;
}
.module_layoutBox {
  border: 1px dashed #333;
  background-color: #f3f3f3;
  min-height: 200px;
  margin: 0 10px;
}

.layout_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  cursor: pointer;
}

.layout_wrap:hover {
  outline: 2px #3a7fd0 solid;
  z-index: 500;
}