.block_wrap {
  min-height: 1000px;
}

.block_correction_btn {
  position: absolute;
  top: 32px;
  right: 5%;
  display: none;
  justify-content: space-evenly;
  width: 246px;
  height: 54px;
  border-radius: 42px;
  background-color: #565656;
}

.block_add {
  display: none;
  position: absolute;
  left: 50%;
  margin: auto;
  width: 246px;
  height: 54px;
  background-color: #565656;
  border-radius: 42px;
  color: #fff;
  font-size: 20px;
  z-index: 10;
}

.btn_top {
  top: 0;
  transform: translate(-50%, -50%);
}

.btn_bottom {
  bottom: 0;
  transform: translate(-50%, 50%);
}

.block_function_btn {
  font-size: 30px;
  color: #fff;
}
.block_container {
  position: relative;
  width: 100%;
  background: #f3f3f3;
  outline: 1px dashed #333;
  height: 160px;
  cursor: pointer;
}

.wrap_design_select {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
  height: 100%;
  justify-content: center;
}

.img_design_select {
  width: 20px;
}

.txt_design_select {
  font-size: 20px;
  font-weight: 400;
  color: #989898;
}
