#root {
  margin: 0;
  padding: 0;
}

.wrap_btn {
  position: relative;
}

.btn_add_block {
  /* display: none; */
  position: absolute;
  left: 50%;
  margin: auto;
  width: 246px;
  height: 54px;
  background-color: #565656;
  border-radius: 42px;
  color: #fff;
  font-size: 20px;
  z-index: 10;
  top: 0;
  transform: translate(-50%, -50%);
}
