.wrap_btn {
  position: relative;
}

.btn_add_block {
  display: none;
  position: absolute;
  left: 50%;
  margin: auto;
  width: 168px;
  height: 40px;
  background-color: #565656;
  border-radius: 42px;
  color: #fff;
  font-size: 15px;
  z-index: 10;
  top: 0;
  transform: translate(-50%, -50%);
}

.show_btn {
  display: block;
}
