#root {
  margin: 0;
  padding: 0;
}

.font-style1 {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.font-style2 {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.editModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior-y: contain;
  z-index: 1;
}

.editModal-container {
  position: fixed;
  transform: translate(0%, 12%);
  width: 64%;
  height: 673px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--grayscale-30, #b3b3b3);
  background-color: var(--grayscale-5, #f3f3f3);
  box-shadow: 4px 4px 21px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.editModal-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ee7d00;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 63px;
  font-size: 20px;
}

.editModal-main {
  padding: 50px 63px;
  display: flex;
  height: 100%;
}

.editModal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.editModal-left p {
  cursor: pointer;
}

.editModal-right {
  flex: 4;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-auto-rows: minmax(auto, 160px);
  gap: 15px 15px; 
}

.designSelect {
  color: #ee7d00;
}

.typeBox {
  border-radius: 10px;
  background-color: var(--grayscale-0, #FFF);
  padding: 20px;
  cursor: pointer;
}

.typeBox:hover {
  box-shadow: 1px 1px 20px #ddd;
}

.parentBox1 {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3%;
}

.parentBox2 {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 3%;
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--grayscale-20, #CCC);
  font-size: 50px;
  color: #fff;
}

.largeSqure {
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
}

.smallSqure {
  width: 70px; 
  height: 70px; 
  font-size: 25px;
  border-radius: 50%;
}