.table_wrap {
  display: flex;
  flex-direction: column;
}
.table_wrap p {
  padding-left: 10px;
  color: var(--grayscale-80, #333);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
