.module_container_line_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.module_rectangle_detail > img,.module_square_detail > img,.module_circle_detail >img,.module_wideRectangle_detail >img{
  width: 100%;
  height: 100%;
  background-color:transparent;
  -o-object-fit: cover;
     object-fit: cover;
}

.module_square_detail{
    width: 300px;
    height: 300px;
}
  
.module_rectangle_detail {
    width: 350px;
    height: 200px;
}

.module_rectangle_detail imageTag {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
  
.module_wideRectangle_detail {
      width: 500px;
      height: 200px;
}
  
.module_circle_detail {
  width: 205px;
  height: 205px;
}

.module_circle_detail >img{
  border-radius: 50%;
}


.module_square::before {
  content: "";
  display: none;
  padding-top: none;
}

.module_container{
  justify-content: center !important;
}

.module_container .module_item{
  width: 100%;
  /* height: 100%; */
}

.module_imageBox{
  height: 100%;
}

.module_imageBox >img{
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}



@media screen and (max-width: 1024px) {
  .detail_wrap {
    max-width: 640px;
    min-height: 100%;
    padding: 0 0 60px;
    overflow: hidden;
    margin: 0 auto;
  }

  .detail_wrap div {
    flex-direction: column !important;
  }

  table {
    padding: 0px !important;
  }
  .module_rectangle {
    width: 100%;
  }
  
  .module_wideRectangle {
    width: 100%;
  }
  .module_container_line_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .block_container > img{
    width: 100%;
  }
  .module_imageBox > img{
    width: 100%;
  }
  .module_imageBox{
    text-align: center;
  }
}
