.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 40;
  width: 100%;
  min-width: 1200px;
  display: flex;
  height: 70px;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.15);
}
.footList1 {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #ee7d00;
}
.footList2 {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #f8a344;
}
